body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    .col#{$i}{
        width: (100%/(12/$i)) - 3%;
        margin: 1.5%;
    }
}

//nav
.header{
    padding: 20px 0;
}

.nav-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5%;
    justify-content: space-between;
    align-items: center;
    &-brand{
        h1{
           a{
            text-decoration: none;
            color: black;
            span{
                color: darkgoldenrod;
            }
           } 
        }
    }
    &-menu{
        a{
            text-decoration: none;
            color: black;
            padding: 10px;
            &:hover{
                color: darkgoldenrod;
            }
        }
    }
}

.btn{
    background: black;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    &:hover{
        background: darkgoldenrod;
        color: black;
    }
}

.ai-center{
    align-items: center;
}

.img-responsive{
    width: 100%;
}

.hero{
    padding: 5% 0;
    &-desc{
        h1{
            font-size: 3em;
            line-height: 120%;
            margin-bottom: 20px;
            span{
                color: mediumseagreen;
            }
        }
        p{
            line-height: 180%;
        }
    }
}

//spacer
.spacer5{
    height: 30px;
}

//food
.food{
    padding: 5% 0;
    &-card{
        box-shadow: 0px 1px 9px 8px #eee;
        padding: 15px;
        box-sizing: border-box;
        .fc-desc{
            h3{
                text-transform: capitalize;
                font-size: 22px;
                margin-top: 5px;
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                color: #777;
            }
        }
        .fc-price{
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            color: darkgoldenrod;
            .price-tag
            {
                font-size: 18px;
            }
            .price-num{
                font-weight: bold;
                color: darkgoldenrod;
                font-size: 18px;
            }
        }
    }
}

//footer
.footer{
    padding: 5% 0;
    background-color: black;
    color: white;
    .footer-desc{
        h3{
            margin-bottom: 20px;
        }
        p{
            line-height: 180%;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            padding: 5px 0;
            a{
                color: whitesmoke;
                &:hover{
                    color: lightblue;
                }
            }
        }
    }
}